<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.competition.mapper.ParticipantsMapper">

    <resultMap type="Participants" id="ParticipantsResult">
        <result property="id" column="id"/>
        <result property="identity" column="identity"/>
        <result property="school" column="school"/>
        <result property="name" column="name"/>
        <result property="registrationGroup" column="registration_group"/>
        <result property="username" column="username"/>
        <result property="createdAt" column="created_at"/>
        <result property="password" column="password"/>
        <result property="competitionGroup" column="competition_group"/>
    </resultMap>

    <sql id="selectParticipantsVo">
        select id, identity, school, name, registration_group, username, created_at, password, competition_group
        from participants
    </sql>

    <select id="selectParticipantsList" parameterType="Participants" resultMap="ParticipantsResult">
        <include refid="selectParticipantsVo"/>
        <where>
            <if test="identity != null and identity != ''"> and identity = #{identity}</if>
            <if test="school != null and school != ''"> and school = #{school}</if>
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="registrationGroup != null and registrationGroup != ''"> and registration_group = #{registrationGroup}</if>
            <if test="username != null and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>

    <select id="selectParticipantsById" parameterType="Long" resultMap="ParticipantsResult">
        <include refid="selectParticipantsVo"/>
        where id = #{id}
    </select>

    <select id="selectParticipantsByUsername" parameterType="String" resultMap="ParticipantsResult">
        <include refid="selectParticipantsVo"/>
        where username = #{username}
    </select>

    <insert id="insertParticipants" parameterType="Participants" useGeneratedKeys="true" keyProperty="id">
        insert into participants
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="identity != null and identity != ''">identity,</if>
            <if test="school != null and school != ''">school,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="registrationGroup != null and registrationGroup != ''">registration_group,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="competitionGroup != null">competition_group,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="identity != null and identity != ''">#{identity},</if>
            <if test="school != null and school != ''">#{school},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="registrationGroup != null and registrationGroup != ''">#{registrationGroup},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="competitionGroup != null">#{competitionGroup},</if>
        </trim>
    </insert>

    <update id="updateParticipants" parameterType="Participants">
        update participants
        <trim prefix="SET" suffixOverrides=",">
            <if test="identity != null and identity != ''">identity = #{identity},</if>
            <if test="school != null and school != ''">school = #{school},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="registrationGroup != null and registrationGroup != ''">registration_group = #{registrationGroup},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="competitionGroup != null">competition_group = #{competitionGroup},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParticipantsById" parameterType="Long">
        delete from participants where id = #{id}
    </delete>

    <delete id="deleteParticipantsByIds" parameterType="String">
        delete from participants where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
